on boot
    insmod ${ro.boot.moduleslocation}/lnp_ldisc.ko

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

on property:nvm_partition=mounted
    mkdir /nvm_fs_partition/bluetooth 0770 bluetooth system
    restorecon_recursive /nvm_fs_partition/bluetooth

    start init_bt_nvm

service init_bt_nvm /system/bin/sh /system/etc/bluetooth/bt_nvm_init.sh
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
   class main
   group bluetooth wifi system dhcp
   disabled
   oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
   class main
   group bluetooth system dhcp
   disabled
   oneshot

#Bluetooth timeout values for Simics environment
on post-fs-data
    setprop bluetooth.enable_timeout_ms 80000000
    setprop bluetooth.enable_delay_ms 120000000
    setprop bluetooth.disable_delay_ms 80000000
    setprop bluetooth.bredr_start_delay_ms 40000000
    setprop bluetooth.ble_start_delay_ms 20000000
    setprop bluetooth.ble_stop_delay_ms 20000000
    setprop bluetooth.bredr_stop_delay_ms 40000000
    setprop bluetooth.property_op_delay_ms 20000000
    setprop bluetooth.emu.enable 1
