service ioc_slcand /sbin/ioc_slcand --recovery
    class animation
    oneshot
    seclabel u:r:ioc_slcan:s0
    disabled

on boot
    start ioc_slcand

service ioc_reboot /sbin/ioc_reboot.sh
    class animation
    oneshot
    seclabel u:r:ioc_slcan:s0
    disabled
