on boot
    setprop camera.disable_zsl_mode 1

on property:ro.camera.hardware.ipu4=*
    ## Defer loading modules that may require firmware till fs is ready
    ## additional list of modules to load for intel-ipu4
    ## In A0 modules can't be loaded automatically at least yet
    insmod ${ro.boot.moduleslocation}/smiapp-pll.ko
    insmod ${ro.boot.moduleslocation}/smiapp.ko
    insmod ${ro.boot.moduleslocation}/crlmodule.ko
    insmod ${ro.boot.moduleslocation}/lc898122.ko
    insmod ${ro.boot.moduleslocation}/lm3643.ko
    insmod ${ro.boot.moduleslocation}/dw9714.ko
    insmod ${ro.boot.moduleslocation}/videobuf-core.ko
    insmod ${ro.boot.moduleslocation}/videobuf2-dma-contig.ko
    insmod ${ro.boot.moduleslocation}/intel-ipu4-wrapper-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/lib2600psys-mod-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/lib2600-mod-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/intel-ipu4-mod-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/intel-ipu4-mmu-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/intel-ipu4-isys-mod-${ro.camera.hardware.ipu4}.ko
    insmod ${ro.boot.moduleslocation}/intel-ipu4-psys-mod-${ro.camera.hardware.ipu4}.ko
    #optional debug configuration
    #echo "module smiapp_pll +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module smiapp +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module lm3643 +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module dw9714 +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module videobuf_core +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module videobuf2_dma_contig +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module intel_ipu4_wrapper +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module lib2600_mod +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module intel_ipu4_mod +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module intel_ipu4_mmu +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module intel_ipu4_isys_mod +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module lib2600psys_mod +p" > /sys/kernel/debug/dynamic_debug/control;
    #echo "module intel_ipu4_psys_mod +p" > /sys/kernel/debug/dynamic_debug/control;
