on early-init
    setprop persist.tool_enable 0

{{#throttle_cpu_during_boot}}
on early-init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 416000

{{/throttle_cpu_during_boot}}

on boot
    # fs dirty writeback parameters
    write /proc/sys/vm/dirty_writeback_centisecs 300
    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_expire_centisecs 15

service watchdog /sbin/watchdogd 60
    class core
    oneshot
    seclabel u:r:watchdogd:s0

