on early-init
    setprop persist.tool_enable 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 256

{{#throttle_cpu_during_boot}}
on early-init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 416000

{{/throttle_cpu_during_boot}}

on boot
    # fs dirty writeback parameters
    write /proc/sys/vm/dirty_writeback_centisecs 300
    write /proc/sys/vm/dirty_ratio 5

 # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 15


on post-fs-data

    # Permissions for LMK minfree_force
    chown system system /sys/module/lowmemorykiller/parameters/minfree_force
    write /sys/module/lowmemorykiller/parameters/minfree_force "6536,7536,9536,18536,25536,35536"

on fs
    mount_all /fstab.{{{hardware}}}
    write /sys/kernel/debug/watchdog/vmm_scu_wdt_enable 0

on charger
    mount_all /fstab.{{{hardware}}}
    start setup_fs_nvm
    write /sys/kernel/debug/watchdog/vmm_scu_wdt_enable 0

on init
    chmod 0444 /proc/cmdline
    # FIXME!: (security)
    mkdir /nvm_fs_partition 0660 misc misc
    restorecon /nvm_fs_partition

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/read_ahead_kb 128

# Once nvm partition is setup, create directory structure and set permissions.
# NVM dependent services are disabled by default; start them from here.
on property:init.svc.setup_fs_nvm=stopped
    # FIXME!: (security)
    mkdir /nvm_fs_partition/factory 0770 media misc
    mkdir /nvm_fs_partition/nvm 0660 misc misc
    restorecon_recursive /nvm_fs_partition
    start nvm_uagent

on property:persist.tool_enable=1
    start ipcsd

service ipcsd /system/bin/ipcsd --apint=UDSOCKS_,gateway --ext=TTY,/dev/ttyGS2 --mex=TTY,/dev/mvpipe-GTI
    class main
    disabled
    user radio
    group radio system

service rpcServer /system/bin/rpcServer
{{#telephony}}
    socket msmSock stream 660 system radio
{{/telephony}}
    class core
    user root
    group root

service setup_fs_nvm /system/bin/setup_fs_nvm /dev/block/by-name/ImcPartID076 /nvm_fs_partition
    class core
    user root
    group root
    oneshot

service nvm_uagent /system/bin/nvm_useragent
    class main
    disabled
    user root
    group root

service rpc-daemon /system/bin/rpc-daemon
    socket rpc_send stream 660 system radio
    socket rpc_recv stream 660 system radio
    socket rpc_reg stream 660 system radio
    group root radio system
    class core
    user root
    disabled

on property:rpcd.start=1
    start rpc-daemon

service watchdog /sbin/watchdogd 60
    class core
    oneshot
    seclabel u:r:watchdogd:s0

