on early-init
    setprop persist.tool_enable 0

{{#throttle_cpu_during_boot}}
on early-init
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 416000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor ondemand

# This is commented out temporarily because of issues encountered while
# preparing initial 3gr mrd6 target for master. When the issues are
# resolved, we can go back to 900 MHz after boot is complete:

#on property:dev.bootcomplete=1
#    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 900000
#    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 900000
#    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 900000
#    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 900000
#
{{/throttle_cpu_during_boot}}

on fs
    mount_all /fstab.{{{hardware}}}

on charger
    mount_all /fstab.{{{hardware}}}
    start setup_fs_nvm

on post-fs-data
    mkdir /data/rpcd
    # FIXME!: (security)
    chmod 777 /data/rpcd
    chown system system /dev/tee_rpc
    chmod 0666 /dev/tee_rpc

on init
    chmod 0444 /proc/cmdline
    # FIXME!: (security)
    mkdir /nvm_fs_partition 0777 misc misc

# Once nvm partition is setup, create directory structure and set permissions.
# NVM dependent services are disabled by default; start them from here.
on property:init.svc.setup_fs_nvm=stopped
    # FIXME!: (security)
    mkdir /nvm_fs_partition/nvm 0777 misc misc
    start nvm_uagent

on property:persist.tool_enable=1
    start ipcsd

service ipcsd /system/bin/ipcsd --apint=UDSOCKS_,gateway --ext=TTY,/dev/ttyGS2 --mex=TTY,/dev/mvpipe-GTI
    class main
    disabled
    user root
    group root

service rpcServer /system/bin/rpcServer
{{#telephony}}
    socket msmSock stream 660 system radio
{{/telephony}}
    class core
    user root
    group root

service setup_fs_nvm /system/bin/setup_fs_nvm /dev/block/by-name/ImcPartID076 /nvm_fs_partition
    class core
    user root
    group root
    oneshot

service nvm_uagent /system/bin/nvm_useragent
    class main
    disabled
    user root
    group root

service rpcNotifier /system/bin/rpcNotifier
    class main
    user root

service rpc-daemon /system/bin/rpc-daemon
    socket rpc_send stream 660 system radio
    socket rpc_recv stream 660 system radio
    socket rpc_reg stream 660 system radio
    group root radio system
    class core
    user root
    disabled

on property:rpcd.start=1
    start rpc-daemon

