on post-fs-data
    chown root root /sys/class/misc/vmodem/modem_state
    chmod 660 /sys/class/misc/vmodem/modem_state
    symlink /system/vendor/firmware/modem.fls_ID0_CUST_SecureBlock.bin /data/modem.fls_ID0_CUST_SecureBlock.bin
    setprop rpcd.start 1

service ril-daemon2 /system/bin/rild -c 2
   class main
   socket rild2 stream 660 root radio
   socket rild-debug2 stream 660 radio system
   user root
   group radio cache inet misc audio log root

on property:persist.ril-daemon.disable=0
    stop ril-daemon
    stop ril-daemon2

#on property:persist.ril-daemon.disable=dsds
#    start ril-daemon2
