service sensorhubd /system/bin/sensorhubd
    class main
    user root
    group root
    socket sensorhubd stream 600 system system

on boot
    insmod ${ro.boot.moduleslocation}/heci.ko
    insmod ${ro.boot.moduleslocation}/heci-ish.ko
    insmod ${ro.boot.moduleslocation}/hid-heci-ish.ko
    insmod ${ro.boot.moduleslocation}/sens-col-core.ko
    insmod ${ro.boot.moduleslocation}/{{{ish-hub-drv}}}
