service sensorhubd /system/vendor/bin/sensorhubd
    class main
    user root
    group root
    socket sensorhubd stream 600 system system

on boot
    insmod ${ro.boot.moduleslocation}/{{{ish-bus-drv}}}
    insmod ${ro.boot.moduleslocation}/{{{ish-hw-drv}}}
    insmod ${ro.boot.moduleslocation}/{{{ish-client-drv}}}
    insmod ${ro.boot.moduleslocation}/{{{ish-col-drv}}}
    insmod ${ro.boot.moduleslocation}/{{{ish-hub-drv}}}
