service sensorhubd /system/vendor/bin/sensorhubd
    class main
    user root
    group root
    socket sensorhubd stream 600 system system

on boot
    insmod ${ro.boot.moduleslocation}/ishtp.ko
    insmod ${ro.boot.moduleslocation}/ish.ko
    insmod ${ro.boot.moduleslocation}/hid-ishtp.ko
    insmod ${ro.boot.moduleslocation}/sens-col-core.ko
    insmod ${ro.boot.moduleslocation}/{{{ish-hub-drv}}}
