on post-fs-data
    setprop rpcd.start 1

    # Modem network settings
    write /sys/class/net/{{{nw_if_name}}}0/queues/rx-0/rps_cpus d
    write /sys/class/net/{{{nw_if_name}}}0/queues/tx-0/xps_cpus d

    write /sys/class/net/{{{nw_if_name}}}1/queues/rx-0/rps_cpus d
    write /sys/class/net/{{{nw_if_name}}}1/queues/tx-0/xps_cpus d

    # Access rights for CRM
    chown root radio /sys/class/misc/vmodem/modem_state
    chown root radio /dev/vmodem
    chown root radio /dev/vdump
    chown root radio /dev/mvpipe-atc

    chmod 660 /sys/class/misc/vmodem/modem_state
    chmod 660 /dev/vmodem
    chmod 660 /dev/vdump
    chmod 660 /dev/mvpipe-atc

on boot
    setprop ro.telephony.tcs.hw_name SF_LTE_CONF_1

# MTS SERVICES

# mts persistent
service mtsp /system/vendor/bin/mts
    user system
    group radio log media_rw sdcard_r sdcard_rw inet
    disabled

# mts oneshot
service mtso /system/vendor/bin/mts
    user system
    group radio log media_rw sdcard_rw inet
    oneshot
    disabled

# MTS Properties, events trigging service

on property:persist.service.mtsp.enable=1
    start mtsp

on property:persist.service.mtsp.enable=0
    stop mtsp

on property:persist.service.mtso.enable=1
    start mtso

on property:persist.service.mtso.enable=0
    stop mtso

# service used by AMTL to send SIGUSR1 to mts
service pti_sigusr1 /system/vendor/bin/pti_sigusr1
    user system
    oneshot
    disabled

# adding CRM
service crm /system/vendor/bin/crm
    class main
    socket crm1 stream 660 system radio
    user system
    group radio cache inet misc system usb

