on init
    mkdir /mnt/eavb 0777 audioserver audioserver
    mkdir /mnt/eavb/misc 0777 audioserver audioserver
    mkdir /mnt/eavb/misc/run 0777 audioserver audioserver
    mkdir /mnt/eavb/misc/run/smartx 0777 audioserver audioserver
    mkdir /mnt/eavb/misc/audioserver 0777 audioserver audioserver
    mkdir /mnt/eavb/misc/eavb 0777  root root
    mkdir /mnt/eavb/avb 0777 root root
