on post-fs-data
    # Create data folder for GPS
    mkdir /data/gps 0770 gps system

# don't auto run gpsd, done by hald if gps detected
service gpsd /system/bin/gpsd -c /system/rt/hal_fuse/gps_bcm4752.xml
    disabled
    user gps
    group system inet radio sdcard_rw net_admin

