# The atomisp driver is sensitive to initialization order (it must be
# loaded after the sensor drivers) and does a request_firmware() out
# of the module init function which will deadlock init.  Load it from
# a service instead.

service atomisp-init /system/bin/sh /system/etc/init.atomisp.sh
    oneshot
    disabled

on charger
    insmod ${ro.modules.location}/videobuf-core.ko
    insmod ${ro.modules.location}/videobuf-vmalloc.ko
    insmod ${ro.modules.location}/atomisp-css2401a0_v21.ko skip_fwload=1

on boot
    setprop camera.disable_zsl_mode 1
    start atomisp-init
