on boot
    write /sys/class/gpio/export 342
    write /sys/class/gpio/gpio342/direction high
    chown cameraserver camera /sys/class/gpio/gpio342/value
    chmod 0644 /sys/class/gpio/gpio342/value

on property:sys.ds4.claim_gpio=1
    chown system camera /sys/class/gpio/gpio342/value
    chmod 0644 /sys/class/gpio/gpio342/value
    write /sys/class/gpio/gpio342/value 1

on property:sys.ds4.claim_gpio=0
    chown cameraserver camera /sys/class/gpio/gpio342/value
    chmod 0644 /sys/class/gpio/gpio342/value
    write /sys/class/gpio/gpio342/value 0
