on fs
    # Intall virtio drivers Trusty depends on
    insmod ${ro.boot.moduleslocation}/virtio.ko
    insmod ${ro.boot.moduleslocation}/virtio_ring.ko

    # Install Trusty drivers
    insmod ${ro.boot.moduleslocation}/trusty.ko
    insmod ${ro.boot.moduleslocation}/trusty-irq.ko
    insmod ${ro.boot.moduleslocation}/trusty-mem.ko
    insmod ${ro.boot.moduleslocation}/trusty-ipc.ko
    insmod ${ro.boot.moduleslocation}/trusty-virtio.ko
    insmod ${ro.boot.moduleslocation}/trusty-log.ko

    # Install simulated rpmb driver for /dev/rpmb1
    insmod ${ro.boot.moduleslocation}/rpmb_sim.ko

    # Update device node r/w attribute
    chmod 666 /dev/trusty-ipc-dev0

{{#enable_hw_sec}}
on post-fs-data
    mkdir /data/misc/securestorage 0700 system system
    chmod 666 /dev/rpmb0
    chmod 666 /dev/rpmb1

service storageproxyd /system/vendor/bin/intelstorageproxyd -d /dev/trusty-ipc-dev0 -p /data/misc/securestorage -r /dev/rpmb1
    class late_start
    user system
    group system
{{/enable_hw_sec}}
