on post-fs-data
    # To store BT paired info
    mkdir /data/misc/hcid 0770 bluetooth bluetooth

on boot
   # TMP to be removed: disable power control
   write /sys/devices/pci0000:00/0000:00:18.0/power/control on
   insmod ${ro.boot.moduleslocation}/bluetooth.ko
   insmod ${ro.boot.moduleslocation}/hci_uart.ko

on property:bluetooth.hwcfg=start
    start btcfg

service btcfg /system/bin/btcfg.sh
    user bluetooth
    group bluetooth
    oneshot
    disabled

on property:bluetooth.scocfg=start
    start btscocfg

service btscocfg /vendor/bin/btscocfg.sh
    user bluetooth
    group net_raw
    oneshot
    disabled

