on post-fs-data
    chown system system /sys/devices/virtual/misc/intel_fg_iface
    chown system system /sys/devices/virtual/misc/intel_fg_iface/volt_now
    chown system system /sys/devices/virtual/misc/intel_fg_iface/volt_ocv
    chown system system /sys/devices/virtual/misc/intel_fg_iface/volt_boot
    chown system system /sys/devices/virtual/misc/intel_fg_iface/ibat_boot
    chown system system /sys/devices/virtual/misc/intel_fg_iface/cur_now
    chown system system /sys/devices/virtual/misc/intel_fg_iface/cur_avg
    chown system system /sys/devices/virtual/misc/intel_fg_iface/batt_temp
    chown system system /sys/devices/virtual/misc/intel_fg_iface/delta_q
    chown system system /sys/devices/virtual/misc/intel_fg_iface/capacity
    chown system system /sys/devices/virtual/misc/intel_fg_iface/nac
    chown system system /sys/devices/virtual/misc/intel_fg_iface/fcc
    chown system system /sys/devices/virtual/misc/intel_fg_iface/cyc_cnt
    chown system system /sys/devices/virtual/misc/intel_fg_iface/cc_calib
    chown system system /sys/devices/virtual/misc/intel_fg_iface/uevent

    chmod 0664 /sys/devices/virtual/misc/intel_fg_iface/capacity
    chmod 0664 /sys/devices/virtual/misc/intel_fg_iface/nac
    chmod 0664 /sys/devices/virtual/misc/intel_fg_iface/fcc
    chmod 0664 /sys/devices/virtual/misc/intel_fg_iface/cyc_cnt
    chmod 0664 /sys/devices/virtual/misc/intel_fg_iface/cc_calib

    mkdir /data/fg_algo_iface 0770 system system

    start fg_algo_iface

service fg_algo_iface /system/vendor/bin/fg_algo_iface
    user system
    group system
    class late_start
    disabled
