# STMicroelectronics gyroscopes 3-Axis Driver
# ----------------------------------------------------
# Supported chips: L3G4200D, LSM330DL, L3GD20, LSM330DLC, L3G4IS, LSM330
#
# Kernel config options (insmod needed for "m" option):
# ----------------------------------------------------
# CONFIG_IIO_ST_GYRO_3AXIS=y
# CONFIG_IIO_ST_GYRO_I2C_3AXIS=y
# CONFIG_IIO_ST_GYRO_SPI_3AXIS=y

on post-fs
    setprop ro.iio.anglvel.name "STMicro 3-Axis gyroscope"
    setprop ro.iio.anglvel.vendor "STMicro"
    setprop ro.iio.anglvel.max_range 30
    setprop ro.iio.anglvel.resolution 0.001
    setprop ro.iio.anglvel.power 3
    setprop ro.iio.anglvel.quirks "no-trig"

