on post-fs
    setprop persist.service.thermal 1
    setprop persist.thermal.mode itux
    setprop persist.thermal.shutdown.msg 1
    setprop persist.thermal.shutdown.vibra 1
    setprop persist.thermal.shutdown.tone 1
    setprop persist.thermal.display.msg 1
    setprop persist.thermal.display.vibra 1

    # Permissions for Thermal Management
    chown system system /sys/class/mali/pm/max_freq_level
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/thermal_scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/thermal_scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/thermal_scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu3/cpufreq/thermal_scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/thermal_scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu1/cpufreq/thermal_scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu2/cpufreq/thermal_scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu3/cpufreq/thermal_scaling_max_freq
    chmod 0664 /sys/class/mali/pm/max_freq_level

on boot
    chown system system /sys/class/powercap/intel-rapl:0/enabled
    chown system system /sys/class/powercap/intel-rapl:0/constraint_0_power_limit_uw
    restorecon_recursive /sys/class/powercap
