on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    mount_all /fstab

on post-fs
    restorecon /dev/block/by-name/android_persistent

service watchdogd /sbin/watchdogd
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on charger
    start watchdogd
