# init.rc for telephony services common to all platforms
on boot

    # change group for IPC interfaces
    chown root system /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/power/control
    chmod 0664 /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/power/control
    chown root system /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/usb{{{bus_id}}}/{{{bus_id}}}-{{{ssic_port}}}/power/wakeup
    chmod 0664 /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/usb{{{bus_id}}}/{{{bus_id}}}-{{{ssic_port}}}/power/wakeup
    chown root system /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/ssic_port_enable
    chmod 0664 /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/power/ssic_port_enable

{{#pcie}}
    chown root system /sys/devices/pci0000:00/0000:00:{{{pcie_pci_id}}}.1/power/control
    chmod 0664  /sys/devices/pci0000:00/0000:00:{{{pcie_pci_id}}}.1/power/control
    chown root system /sys/bus/pci/rescan
    chmod 0664  /sys/bus/pci/rescan
{{/pcie}}

{{^k4_x}}
    chown root system /sys/bus/usb/devices/{{{bus_id}}}-0:1.0/port{{{ssic_port}}}/usb3_lpm
    chmod 0664 /sys/bus/usb/devices/{{{bus_id}}}-0:1.0/port{{{ssic_port}}}/usb3_lpm
{{/k4_x}}
{{#k4_x}}
    chown root system /sys/bus/usb/devices/{{{bus_id}}}-0:1.0/usb{{{bus_id}}}-port{{{ssic_port}}}/usb3_lpm
    chmod 0664 /sys/bus/usb/devices/{{{bus_id}}}-0:1.0/usb{{{bus_id}}}-port{{{ssic_port}}}/usb3_lpm
{{/k4_x}}

    # disable HSIC port
    write /sys/bus/usb/devices/{{{hsic_port}}}/power/pm_qos_no_power_off 0

on init
    # disable SSIC port
    write /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/power/control on
    write /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/ssic_port_enable 0
    write /sys/devices/pci0000:00/0000:00:{{{xhci_pci_id}}}.0/power/control auto

{{#pcie}}
    insmod /lib/modules/imc_ipc.ko
{{/pcie}}

on post-fs-data

# create PinCaching folder
    mkdir /data/telephony
    chown radio radio /data/telephony
    chmod 770 /data/telephony

# adding Modem Manager
service mmgr /system/vendor/bin/mmgr
    class main
    socket mmgr stream 660 system radio
    user system
    group radio cache inet misc system usb

# AT proxy service
service proxy /system/vendor/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10
    socket atproxy-status stream 666 root radio system
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy tunneling mode service
service proxy-tunneling /system/vendor/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10 -t on
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy USB reset utility service
service atproxy_usbreset /system/bin/atproxy_usbreset
    oneshot
    user radio
    disabled

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 0a64
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    wait /sys/class/net/rndis0/queues/rx-0/rps_cpus 1
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus F

# USB ACM second configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 0a66
    write /sys/class/android_usb/android0/f_acm/instances 2
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    wait /sys/class/net/rndis0/queues/rx-0/rps_cpus 1
    write /sys/class/net/rndis0/queues/rx-0/rps_cpus F

on property:persist.system.at-proxy.mode=*
    setprop system.at-proxy.mode ${persist.system.at-proxy.mode}

on property:system.at-proxy.mode=0
    stop proxy
    stop proxy-tunneling
    start atproxy_usbreset

on property:system.at-proxy.mode=1
    stop ad_proxy
    stop proxy-tunneling
    setprop sys.usb.config rndis,acm,adb
    start proxy

on property:system.at-proxy.mode=2
    stop ad_proxy
    stop proxy
    setprop sys.usb.config rndis,acm,adb
    start proxy-tunneling

# MTS SERVICES

# mts persistent
service mtsp /system/vendor/bin/mts
    user system
    group radio log media_rw sdcard_r sdcard_rw inet
    disabled

# mts oneshot
service mtso /system/vendor/bin/mts
    user system
    group radio log media_rw sdcard_rw inet
    oneshot
    disabled

# MTS Properties, events trigging service

on property:persist.service.mtsp.enable=1
    start mtsp

on property:persist.service.mtsp.enable=0
    stop mtsp

on property:persist.service.mtso.enable=1
    start mtso

on property:persist.service.mtso.enable=0
    stop mtso

# service used by AMTL to send SIGUSR1 to mts
service pti_sigusr1 /system/vendor/bin/pti_sigusr1
    user system
    oneshot
    disabled

# Activate RPS and disable duplicate address detection
# for usbX devices
{{^pcie}}
on property:sys.usb.modemevt=1
   setprop sys.usb.modemevt 0
   wait /sys/class/net/usb0/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb0/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb1/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb1/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb2/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb2/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb3/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb3/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb4/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb4/queues/rx-0/rps_cpus F

   write /proc/sys/net/ipv6/conf/usb0/accept_dad 0
   write /proc/sys/net/ipv6/conf/usb1/accept_dad 0
   write /proc/sys/net/ipv6/conf/usb2/accept_dad 0
   write /proc/sys/net/ipv6/conf/usb3/accept_dad 0
   write /proc/sys/net/ipv6/conf/usb4/accept_dad 0

   write /proc/sys/net/ipv6/conf/usb0/dad_transmits 0
   write /proc/sys/net/ipv6/conf/usb1/dad_transmits 0
   write /proc/sys/net/ipv6/conf/usb2/dad_transmits 0
   write /proc/sys/net/ipv6/conf/usb3/dad_transmits 0
   write /proc/sys/net/ipv6/conf/usb4/dad_transmits 0

# Activate usage of temporary addresses on cellular IPV6 connections
   write /proc/sys/net/ipv6/conf/usb0/use_tempaddr 2
   write /proc/sys/net/ipv6/conf/usb1/use_tempaddr 2
   write /proc/sys/net/ipv6/conf/usb2/use_tempaddr 2
   write /proc/sys/net/ipv6/conf/usb3/use_tempaddr 2
   write /proc/sys/net/ipv6/conf/usb4/use_tempaddr 2
{{/pcie}}

{{#m2}}
#Currently M2 support in unavailable in BIOS. Hence, introduced new variable m2_config
#to set the config path. It has bo be removed, once the BIOS settings are ready for M2.
# Disable Nvm Server
on property:persist.disable_NVM_Server=1
    stop nvm_manager
    {{#m2_config}}
    setprop persist.tcs.hw_filename /system/vendor/etc/telephony/{{m2_config}}.xml
    {{/m2_config}}
{{/m2}}
