# ueventd.rc common to all platforms

# modem tty node change to radio user can read and write
/dev/gsmtty*              0660   system     radio
/dev/ttyMFD*              0660   system     radio
/dev/ttyACM*              0660   root       radio
/dev/ttyPTI1              0660   root       radio
/dev/ttyGS0               0660   root       radio
/dev/mdmTrace             0660   root       radio
/dev/mdm_ctrl*            0660   root       radio
/dev/ttyIFX0              0660   root       radio
/dev/ttyIFX1              0660   root       radio
