on post-fs-data
    # Create data folder for GPS
    mkdir /data/gps 0770 gps system
    # Link to GNSS NVM
    symlink {{nvm}} /data/gps/nvm

on boot
{{#gps_driver}}
    insmod ${ro.boot.moduleslocation}/gnss_drv.ko
    restorecon_recursive /sys/devices/gnss
{{/gps_driver}}
{{#gpp}}
    mkdir {{nvm}} 0770 gps system
    restorecon_recursive {{nvm}}
    start gnss_rest_wpc
    start gnss_rest_mec
{{/gpp}}
    mkdir /dev/gps 0770 gps gps
    symlink /dev/{{{trans}}} /dev/gps/ttyGPS
{{#gps_driver}}
    chown gps system /sys/devices/gnss/state
    symlink /sys/devices/gnss/state /dev/gps/ttyGPSPowerControl
    chmod 0660 /sys/devices/gnss/state
    chown gps system /sys/devices/gnss/reset
    symlink /sys/devices/gnss/reset /dev/gps/ttyGPSResetState
    chmod 0660 /sys/devices/gnss/reset
    chown gps system /sys/devices/gnss/wake_lock
    symlink /sys/devices/gnss/wake_lock /dev/gps/ttyGPSWakeLock
    chmod 0660 /sys/devices/gnss/wake_lock
{{/gps_driver}}
{{^gps_driver}}
{{#gpio}}
    write /sys/class/gpio/export {{{gpio}}}
    write /sys/class/gpio/gpio{{{gpio}}}/direction out
    chmod 0660 /sys/class/gpio/gpio{{{gpio}}}/value
    chown gps system /sys/class/gpio/gpio{{{gpio}}}/value
{{/gpio}}
    chmod 0660 /sys/class/tty/{{{trans}}}/../../power/control
    chown gps gps /sys/class/tty/{{{trans}}}/../../power/control
    symlink /sys/class/tty/{{{trans}}}/../../power/control /dev/gps/ttyGPSPowerControl
{{/gps_driver}}

{{^gpp}}
on property:nvm_partition=mounted
    mkdir {{{nvm}}} 0770 gps system
    restorecon_recursive {{{nvm}}}
{{/gpp}}

{{#gpp}}
service gnss_rest_wpc /system/bin/cws_manu -G -n0 -r{{nvm}}/GNSS_WPC.bin
    user gps
    group system
    oneshot
    disabled

service gnss_rest_mec /system/bin/cws_manu -G -n1 -r{{nvm}}/GNSS_MEC.bin
    user gps
    group system
    oneshot
    disabled
{{/gpp}}

service gnssCG2000 /system/vendor/bin/gnssCG2000
    class late_start
    user gps
    group system radio net_admin
    socket gnss stream 0660 gps system

service gnssRxN /system/vendor/bin/RXN_IntApp
    class late_start
    user gps
    group system radio
