service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

service init_bt_nvm /system/bin/sh /system/etc/bluetooth/nvm_init.sh
    class main
    disabled
    oneshot
