# for hardware accelerated graphics
service msync /system/vendor/bin/msync
    class main
#    seclabel u:r:msync:s0

service coreu /system/vendor/bin/coreu
    class main
#    seclabel u:r:coreu:s0

on post-fs-data
    mkdir /data/system 0770 system system
    mkdir /data/coreu 0770 media root
    chown media root /sys/devices/pci0000\:00/0000\:00\:02.0/resource0
    chmod 0660 /sys/devices/pci0000\:00/0000\:00\:02.0/resource0

on boot
    #Give permission to system to use i915_videostatus sysfs interface
    chown system system /sys/class/drm/card0/power/i915_videostatus
