# for hardware accelerated graphics
service msync /system/vendor/bin/msync
    class main
#    seclabel u:r:msync:s0

service coreu /system/vendor/bin/coreu
    class main
#    seclabel u:r:coreu:s0

on post-fs-data
    mkdir /data/system 0770 system system
    # Change ownership of pci syfs file to 'media', as coreu & hdcpd runs as 'media'
    chown media media /sys/devices/pci0000\:00/0000\:00\:02.0/resource0
    mkdir /data/coreu 0770 media media
