# for hardware accelerated graphics
service msync /system/bin/msync
    class main
    seclabel u:r:msync:s0

service coreu /system/bin/coreu
    class main
    seclabel u:r:coreu:s0

on post-fs-data
    mkdir /data/system 0770 system system

on init
    mkdir /mnt/libreg 0700 root root
    mount tmpfs tmpfs /mnt/libreg size=4096,mode=0600
