/dev/mvpipe-vpu	0660	media	graphics
/dev/mvpipe-oec_dat	0660	media	media
/dev/video0		0600	media	media
/dev/video1		0600	media	media
/dev/video2		0600	media	media
/dev/video3		0600	media	media
/dev/vpu-enc		0600	media	media
/dev/vpu-dec		0660	media	graphics
/dev/mem		0600	media	media
